<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This website is a portfolio of my work as a web developer."
    />
    <meta property="og:title" content="Khaleel Alhaji - A web developer" />
    <meta
      property="og:description"
      content="This website is a portfolio of my work as a web developer."
    />
    <meta property="og:image" content="images/code-meta.png" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />
    <title>Khaleel Alhaji</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="nav-container">
      <!-- Navbar -->
      <div id="navbar">
        <div class="nav-logo">
          <a href="/">
            <img src="images/logo.png" alt="" style="width: 60px" />
          </a>
        </div>
        <div class="nav-list">
          <ul id="ul">
            <a href="#home" class="nav-link" id="homeBtn">
              <span class="material-symbols-outlined"> home </span>
              <li class="nav-list-item">Home</li>
            </a>
            <a href="#about" class="nav-link" id="aboutBtn">
              <span class="material-symbols-outlined"> person </span>
              <li class="nav-list-item">About</li>
            </a>
            <a href="#projects" class="nav-link">
              <span class="material-symbols-outlined"> content_copy </span>
              <li class="nav-list-item">Projects</li>
            </a>
            <a href="#talk-to-me" class="nav-link">
              <span class="material-symbols-outlined"> call </span>
              <li class="nav-list-item">Contact</li>
            </a>
          </ul>
        </div>
      </div>
    </div>

    <div id="container">
      <!-- Home Section -->
      <section id="home" data-aos="fade">
        <div>
          <div class="home-text">
            <p class="para-hi" id="typewriter">Hi, my name is</p>
            <h2>Khaleel Alhaji.</h2>
            <h3>I create user friendly and efficient web applications.</h3>
            <p class="para-intro">
              A full stack developer with experience in front-end and back-end
              technologies. I'm passionate about creating user-friendly and
              efficient web applications, and prioritize clean and maintainable
              code.
            </p>
          </div>
          <button id="my-projects-btn">My projects</button>
        </div>
      </section>

      <!-- About Section -->
      <section id="about" data-aos="fade" class="fade-i">
        <h2 class="section-header">About Me</h2>
        <div class="about-text">
          <div class="about-paragraph">
            <p>
              Hello, and welcome to my website! My name is Khaleel Alhaji, and I
              am a computer engineering student originally from Nigeria, but
              currently based in India. I have always been interested in
              technology, and I discovered my passion for web development in
              2021.
            </p>
            <p>
              I am currently pursuing a Bachelor's degree in computer
              engineering, which has provided me with a solid foundation in
              coding and computer science. In addition to my studies, I am also
              actively working on building my skills as a web developer.
            </p>
            <p>I specialize in using technologies such as:</p>
            <div class="tech">
              <div class="tech-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>JavaScript</p>
              </div>
              <div class="tech-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>Bootstrap</p>
              </div>
              <div class="tech-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>Node.js</p>
              </div>
              <div class="tech-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>Express.js</p>
              </div>
            </div>
          </div>
          <div class="about-text-img">
            <img src="images/khaleell.png" alt="khaleel alhaji" />
          </div>
        </div>
      </section>

      <!-- Projects Section -->
      <section id="projects" data-aos="fade">
        <h2 class="section-header">Projects</h2>
        <div class="projects-items" data-aos="fade">
          <div class="project-container">
            <div class="project-image">
              <a
                href="https://google-calculator-clone.vercel.app/"
                target="_blank"
              >
                <img src="images/google-calc.png" alt="google-calc" />
              </a>
            </div>
            <div class="project-descr">
              <a
                class="project-header"
                href="https://google-calculator-clone.vercel.app/"
                target="_blank"
              >
                <h2>Calculator</h2>
              </a>
              <p class="project-descr-intro">
                This is a replica of Google's calculator. The calculator has the
                same layout and design as Google's calculator.
              </p>
              <p>Features:</p>
              <div class="project-descr-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>Provides a history of previous calculations results.</p>
              </div>
              <div class="project-descr-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>
                  Logarithmic, trigonometric, and exponential functions support.
                </p>
              </div>
              <div class="project-descr-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>Supports calculations in both radians and degrees.</p>
              </div>
              <div class="project-tech">
                <span>HTML</span>
                <span>CSS</span>
                <span>JavaScript</span>
              </div>
              <div class="project-link">
                <a
                  href="https://google-calculator-clone.vercel.app/"
                  target="_blank"
                >
                  <span class="material-symbols-outlined"> link </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-items" data-aos="fade">
          <div class="project-container left">
            <div class="project-image">
              <a
                href="https://jovian-careers-express-live-ecru.vercel.app/"
                target="_blank"
              >
                <img src="images/jovian-careers.png" alt="jovian-careers" />
              </a>
            </div>
            <div class="project-descr">
              <a
                class="project-header"
                href="https://jovian-careers-express-live-ecru.vercel.app/"
                target="_blank"
              >
                <h2>Jovian Careers</h2>
              </a>
              <p class="project-descr-intro">
                The website features a clean and user-friendly interface, making
                job hunting an enjoyable experience for anyone interested in
                software engineering roles.
              </p>
              <p>Features:</p>
              <div class="project-descr-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>
                  Displays detailed job descriptions including responsibilities,
                  and benefits.
                </p>
              </div>
              <div class="project-descr-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>
                  Allows employers to post job openings and manage applications
                  from potential candidates.
                </p>
              </div>
              <div class="project-descr-list">
                <span class="material-symbols-outlined"> arrow_right </span>
                <p>
                  Allow users to apply to jobs using a simple application form.
                </p>
              </div>
              <div class="project-tech">
                <span>Bootstrap</span>
                <span>JavaScript</span>
                <span>Express.js</span>
              </div>
              <div class="project-link">
                <a
                  href="https://jovian-careers-express-live-ecru.vercel.app/"
                  target="_blank"
                >
                  <span class="material-symbols-outlined"> link </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="soon">
        <h4>More coming soon...</h4>
      </div>

      <section id="talk-to-me" data-aos="fade">
        <h2>Talk to me</h2>
        <p>
          I'm always excited to hear from visitors and welcome any questions,
          comments, or feedback you may have. Whether you're interested in
          collaborating on a project or just want to say hello, I'd love to
          chat.
        </p>
        <a href="/contact" id="talk-to-me-btn">Get in touch</a>

        <div id="footer">
          <div class="footer-icons">
            <a href="https://instagram.com/khaleelalhaji" target="_blank">
              <img src="images/i-instagram.svg" alt="ig" />
            </a>
            <a href="https://github.com" target="_blank">
              <img src="images/i-github.svg" alt="gh" />
            </a>
            <a href="https://wa.link/rco31u" target="_blank">
              <img src="images/icons8-whatsapp.svg" alt="wa" />
            </a>
            <a href="https://www.facebook.com/khaleel.alhaji/" target="_blank">
              <img src="images/i-facebook.svg" alt="fb" />
            </a>
          </div>
          <p>Built by <span>Khaleel Alhaji</span></p>
          <p>&copy2023</p>
        </div>
      </section>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 100,
        duration: 800,
      });
    </script>
    <script src="app.js"></script>
  </body>
</html>
