<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="images/code-meta.png" />
    <title>Khaleel Alhaji | Contact Me</title>
    <link rel="icon" href="images/logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <style>
    #soon {
      display: grid;
      place-items: center;
      margin-top: 100px;
    }
  </style>
  <body>
    <div id="nav-container">
      <!-- Navbar -->
      <div id="navbar">
        <div class="nav-logo">
          <a href="/">
            <img src="images/logo.png" alt="" style="width: 60px" />
          </a>
        </div>
        <div class="nav-list">
          <ul id="ul">
            <a href="#home" class="nav-link" id="homeBtn">
              <span class="material-symbols-outlined"> home </span>
              <li class="nav-list-item">Home</li>
            </a>
            <a href="#about" class="nav-link" id="aboutBtn">
              <span class="material-symbols-outlined"> person </span>
              <li class="nav-list-item">About</li>
            </a>
            <a href="#projects" class="nav-link">
              <span class="material-symbols-outlined"> content_copy </span>
              <li class="nav-list-item">Projects</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div id="container">
      <div class="soon" id="soon">
        <p style="text-align: center">
          <!-- Thanks {{ fullname }} for contacting me -->
          Thank you {{ fullname }} for getting in touch! Your message has been
          received and I appreciate you taking the time to reach out.
        </p>
      </div>
      <div class="contact-btn">
        <a href="/contact" id="talk-to-me-btn">Go back</a>
      </div>
    </div>

    <div id="footer">
      <div class="footer-icons">
        <a href="https://instagram.com/khaleelalhaji" target="_blank">
          <img src="images/i-instagram.svg" alt="ig" />
        </a>
        <a href="https://github.com" target="_blank">
          <img src="images/i-github.svg" alt="gh" />
        </a>
        <a href="https://wa.link/rco31u" target="_blank">
          <img src="images/icons8-whatsapp.svg" alt="wa" />
        </a>
        <a href="https://www.facebook.com/khaleel.alhaji/" target="_blank">
          <img src="images/i-facebook.svg" alt="fb" />
        </a>
      </div>
      <p>Built by <span>Khaleel Alhaji</span></p>
      <p>&copy2023</p>
    </div>
  </body>
</html>
