:root {
  --navy-blue: #090e16;
  --light-gray: #d3d3d3;
  --navy-blue-2: #0c1623;
  --light-blue: #4fb1e1;
  --light-blue-hover: #0f3d56;
  --shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  --roboto-style: "Roboto", sans-serif;
  --inter-style: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-style);
  color: var(--light-gray);
}
body {
  background: var(--navy-blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter-style);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
#nav-container {
  padding: 7px;
}
#container {
  padding: 7px;
  margin: 0 auto;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navy-blue-2);
  box-shadow: var(--shadow);
  padding: 0px 8px;
  border-radius: 8px;
}
.nav-logo img {
  width: 25px;
}
.nav-list ul {
  display: flex;
  padding: 10px 0px 10px 10px;
  margin: 0;
  gap: 8px;
}
.nav-list ul li {
  display: none;
}
.nav-list a {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  padding: 7px;
}
.nav-list a:hover {
  box-shadow: var(--shadow);
  background: var(--light-blue-hover);
}
.nav-list span {
  color: var(--light-blue);
  font-size: 20px;
}
.active {
  box-shadow: var(--shadow);
  background: var(--light-blue-hover);
}

/* Home Section */
#home {
  margin-top: 30px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 20px;
}
.name {
  margin-top: 15px;
}
#home span {
  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family: "Castoro Titling", "Roboto", sans-serif;
}
.home-img {
  display: flex;
  justify-content: center;
}
.home-text {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.home-img img {
  width: 300px;
}

@media screen and (min-width: 768px) {
  #container {
    padding: 8px;
    max-width: 70%;
  }
  .navbar {
    padding: 0px 15px;
  }
  .nav-list ul {
    gap: 15px;
  }
  .nav-list ul li {
    display: block;
  }
  .nav-list a {
    padding: 7px 15px;
  }
  .nav-list span {
    font-size: 24px;
  }

  /* Home Section */
  #home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .home-img {
    display: block;
    justify-content: center;
  }
  .home-text {
    width: 100%;
    text-align: left;
  }
}
