:root {
  --navy-blue: #090e16;
  --light-gray: #8892b0;
  --navy-blue-2: #0c1623;
  --light-blue: #4fb1e1;
  --light-blue-hover: #0f3d56;
  --shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  --roboto-style: "Roboto", sans-serif;
  --inter-style: "Inter", sans-serif;
  --typewriter-style: "Courier Prime", monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-style);
  color: var(--light-gray);
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--navy-blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter-style);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
#nav-container {
  /* padding: 0 7px; */
  position: sticky;
  top: 0;
}
#container {
  padding: 0px 50px;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navy-blue-2);
  z-index: 1;
  box-shadow: var(--shadow);
  padding: 0px 15px;
}
.nav-logo img {
  width: 25px;
}
.nav-list ul {
  display: flex;
  padding: 10px 0px 10px 10px;
  margin: 0;
  gap: 8px;
}
.nav-list ul li {
  display: none;
}
.nav-list a {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  padding: 7px;
}
.nav-list a li {
  font-family: var(--roboto-style);
  font-size: 13px;
}
.nav-list a:hover {
  box-shadow: var(--shadow);
  background: var(--light-blue-hover);
}
.nav-list span {
  color: var(--light-blue);
  font-size: 20px;
}
.active {
  box-shadow: var(--shadow);
  background: var(--light-blue-hover);
}

/* Home Section */
#home{
    margin-top: 0px;
    padding-top: 135px;
}
.para-hi {
  font-family: var(--typewriter-style);
  color: var(--light-blue);
  margin-bottom: 20px;
}
.home-text h2 {
  color: white;
  font-size: 48px;
}
.home-text h3 {
  font-size: 44px;
}
.para-intro {
  margin-top: 20px;
  margin-bottom: 50px;
}
#my-projects-btn {
  font-family: var(--typewriter-style);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 16px;
}

/* About Section */
#about {
  margin-top: 90px;
  margin-bottom: 100px;
  padding-top: 60px;
}
.section-container {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 5px;
}
.section-header {
  display: flex;
  align-items: center;
}
.section-header span {
  color: var(--light-blue);
}
.section-line {
  width: 50%;
  height: 1px;
  border-radius: 5px;
  background-color: var(--light-gray);
}
.about-text {
  display: flex;
  flex-direction: column;
}
.about-text p {
  margin-top: 15px;
  width: 100%;
  line-height: 26px;
}
.about-paragraph span {
  font-family: var(--typewriter-style);
  color: var(--light-blue);
}
.about-text-img {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.about-text img {
  width: 75%;
  border-radius: 8px;
  filter: grayscale();
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about-text img:hover {
  filter: none;
}

@media screen and (max-width: 479px) {
  #container {
    padding: 0px 25px;
  }
  .home-text h2 {
    font-size: 33px;
  }
  .home-text h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  #container {
    padding: 0px 100px;
  }
  #home{
    margin-top: 0px;
    padding-top: 135px;
}
  #navbar {
    padding: 0px 40px;
  }
  .nav-list ul {
    gap: 15px;
  }
  .nav-list ul li {
    display: block;
  }
  .nav-list a {
    padding: 7px 15px;
  }
  .nav-list span {
    font-size: 24px;
  }

  /* Home Section */
  .home-text h2 {
    font-size: 62px;
    max-width: 750px;
  }
  .home-text h3 {
    font-size: 59px;
    max-width: 800px;
  }
  .para-intro {
    max-width: 550px;
  }
  /* About Section */
  .about-text {
    flex-direction: row;
    gap: 50px;
  }
  .about-paragraph {
    width: 70%;
  }
  .about-text-img {
    box-shadow: var(--shadow);
    margin-top: 20px;
    height: max-content;
    width: 50%;
  }
  .about-text img {
    width: 100%;
  }
}
@media screen and (min-width: 1070px) {
  #container {
    padding: 0px 250px;
  }
}
